#### 반복문 while

In [ ]:
# while
a = 0
while a < 5: # 조건식의 결과가 True 일 경우에만 반복한다.
    print("{a: ",a,"}")
    a += 1
    if a >= 3:
        break # 반복문을 빠져나간다
else: # 반복문이 중단이 되지 않고, 정상적으로 종료된 경우에만 출력된다.
    print("else")

In [2]:
# while else
a = 0
while a < 2:
    print("{a: ",a,"}")
    a += 1
else:
    print("END")

{a:  0 }
{a:  1 }
END

In [3]:
# while 예제
n = 1
mySum = 0
while n <= 10:
    mySum += n
    n += 1
print("1부터 10까지의 합은 ", mySum, " 입니다.")

1부터 10까지의 합은  55  입니다.

#### 반복문 for

In [7]:
s = '12'      # 문자열
for el in s:
    print(el)

1
2

In [6]:
myList = [1, 2] # 리스트
for el in myList:
    print(el)

1
2

In [8]:
t = (1,2)       # 튜플
for el in t:
    print(el)

1
2

In [16]:
d = {1:"일", 2:"이"} # 딕셔너리
for key in d:
    print("{key:",key,": value:",d[key],"}")
for n in d.keys(): print(n)
for n in d.values(): print(n)
print(d.items())
for k, v in d.items():
    print("{k:",k,", v:",v,"}")

{key: 1 : value: 일 }
{key: 2 : value: 이 }
1
2
일
이
dict_items([(1, '일'), (2, '이')])
{k: 1 , v: 일 }
{k: 2 , v: 이 }

In [25]:
myList = [{"str":'one', "num":1},{"str":'two', "num":2},]
for el in myList:
    print('str:%(str)s, num:%(num)d' % el)

str:one, num:1
str:two, num:2

In [18]:
myList = [(1,'one'), (2,'two')]
for k, v in myList:
    print(k, v)

1 one
2 two

In [29]:
print(range(1, 2, 3))
print( list(range(1, 10, 2)) ) # 1 부터 9까지 2씩 증가

range(1, 2, 3)
[1, 3, 5, 7, 9]

In [30]:
mySum = 0
for n in range(1, 11, 1):
    mySum += n
print("1부터 10까지의 합은 ", mySum, " 입니다.")

1부터 10까지의 합은  55  입니다.

In [33]:
for n in range(1, 11):
    if n == 2:
        continue
    elif n == 3:
        break
    print(n)
else:
    print("else")

1

In [36]:
# 축약문법 => 내장리스티: [ 변수  for .. in .. if ]
my = [ n for n in range(1,6) ]
print(my)
my = [ n*2 for n in range(1,6,1)]
print(my)
my = [ n%2 for n in range(1,6,2)]
print(my)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[1, 1, 1]

In [37]:
# 급여 - 급여 * 0.003 => 3.3% 제외한 실 수령액
salary = [100, 200, 300]
pay = [ n-n*0.033 for n in salary]
print(pay)

[96.7, 193.4, 290.1]

In [38]:
data = [ n for n in range(1,11) if n%2==0 ]
print(data)

[2, 4, 6, 8, 10]