- 강좌명: 인공지능 프로젝트 전문가
- 기 간 : 2021-11-15  ~  2022-04-29
1. 도 서
- 1. 혼자 공부하는 자바
- 2. 스프링 부트로 배우는 자바 웹 개발
- 3. 이것이 MySQL 이다
- 4. To it! HTML5 + CSS3
- 5. 파이썬 철저 입문
- 6. 파이썬을 이용한 웹 크롤링과 스크페이핑
- 7. 모두의 데이터분석 with 파이썬
- 8. 파이썬으로 만드는 OpenCV 프로젝트 (컴퓨터 비전)

In [55]:
import pandas as pd

In [68]:
# 파일 인코딩 변경 cp949 > utf-8
# pd.read_csv("data/X02_인공지능 프로젝트 전문가_커리큘럼.csv", encoding='cp949').to_csv("data/X02_인공지능 프로젝트 전문가_커리큘럼.csv", index=False, encoding='utf-8')

In [69]:
# 파일 읽어서 dataframe 으로 변환
df = pd.read_csv("data/X02_인공지능 프로젝트 전문가_커리큘럼.csv", encoding='utf-8')
df.head(2)

           일자 Unnamed: 1 일수   시간       주제                         세부 내용   강사
0  2021-11-15          월  1  8.0  인공지능 이해                       인공지능 개론  윤재성
1  2021-11-16          화  2  8.0     Java  Java 개발환경 구축 및 Java Overview  황승준

In [70]:
# 01. 수강 기간을 구하시오.
print("기간: ",df.일자.min()," ~ ",df.일자.max())

기간:  2021-11-15  ~  2022-04-29

In [18]:
# 강사별 강의 시간을 구하시오.
df.groupby(by='강사').sum().round(0)

        시간
강사
박철    40.0
신미영   48.0
윤재성  536.0
황승준  328.0

In [24]:
# 주제별 수강 시간을 구하시오.
# 정렬: 시간을 기준으로 내림차순
# 단, 수강시간이 1보다 작은 데이터는 제거
df.groupby(by='주제').sum().sort_values("시간", ascending=False).query("시간 > 0")

                       시간
주제
Mini Project        144.0
Final Project       120.0
Spring Boot         104.0
Java                 88.0
컴퓨터비전                80.0
Python               72.0
이미지 딥러닝 응용           56.0
머신러닝                 56.0
딥러닝                  48.0
MySQL                40.0
이미지 딥러닝              40.0
Pandas               24.0
WebUI - JavaScript   24.0
Crawling             16.0
Numpy                16.0
WebUI - CSS           8.0
Matplotlib/Seaborn    8.0
인공지능 이해               8.0
WebUI - HTML          8.0

In [52]:
df.head(150)

,일자,요일,일수,시간,주제,세부 내용,강사
0,2021-11-15,월,1.0,8.0,인공지능 이해,인공지능 개론,윤재성
1,2021-11-16,화,2.0,8.0,Java,Java 개발환경 구축 및 Java Overview,황승준
2,2021-11-17,수,3.0,8.0,Java,"변수, 데이터타입",황승준
3,2021-11-18,목,4.0,8.0,Java,"연산자, 제어문",황승준
4,2021-11-19,금,5.0,8.0,Java,배열,황승준
...,...,...,...,...,...,...,...
137,2021-04-25,월,114.0,10.0,Final Project,NaN,윤재성
138,2021-04-26,화,115.0,10.0,Final Project,NaN,윤재성
139,2021-04-27,수,116.0,10.0,Final Project,NaN,윤재성
140,2021-04-28,목,117.0,10.0,Final Project,NaN,윤재성
141,2021-04-29,금,118.0,8.0,Final Project,NaN,윤재성