#### DataFrame 인덱싱 슬라이싱

In [1]:
# 테스트 libary
import pandas as pd
import numpy as np

In [2]:
# 테스트 데이터
data = {'eng' :[10,30,50,70],
        'kor' :[20,40,60,80],
        'math':[90,50,20,70]}
df = pd.DataFrame(data, index=['a','b','c','d'])
display(df)

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [4]:
print(df.eng, "\n")

print(df['eng'], "\n")

print('eng 합계 %d' % df.eng.sum())

a    10
b    30
c    50
d    70
Name: eng, dtype: int64

a    10
b    30
c    50
d    70
Name: eng, dtype: int64

eng 합계 160

In [16]:
# 특정 속성만 조회
display(df[ ['eng', 'kor'] ])

# 슬라이싱( row[index] )
display(df[0:2])

# 슬라이싱( row[index] )
display(df['a':'b'])

   eng  kor
a   10   20
b   30   40
c   50   60
d   70   80

   eng  kor  math
a   10   20    90
b   30   40    50

   eng  kor  math
a   10   20    90
b   30   40    50

In [17]:
print("#### 01 ####")
display(df.iloc[0]) # Series

print("#### 02 ####")
print(df.iloc[0,0], "\n") # df.iloc[0-base인덱스, 0-base컬럼]

print("#### 03 ####")
display(df.iloc[1:]);print()


print("#### 04 ####")
display(df.iloc[1:, 1:]);print()

print("#### 05 ####")
display(df.iloc[ [0,2] ]);print()

print("#### 06 ####")
display(df.iloc[ [0,2], [0,2] ])

print("#### 07 ####")
display(df.loc['a','eng'])

#### 01 ####

eng     10
kor     20
math    90
Name: a, dtype: int64

#### 02 ####
10

#### 03 ####

   eng  kor  math
b   30   40    50
c   50   60    20
d   70   80    70

#### 04 ####

   kor  math
b   40    50
c   60    20
d   80    70

#### 05 ####

   eng  kor  math
a   10   20    90
c   50   60    20

#### 06 ####

   eng  math
a   10    90
c   50    20

#### 07 ####

10